<h1><%= @product.title%></h1>
<li>
  Price: $<%= @product.price%>
</li>
<li>
  Stock Quantity: <%= @product.stock_quantity%>
</li>
<li>
  Description: <%= @product.description%>
</li>
<li>
  Category: <%= @product.category.name%>
</li>
